a{
    color:#fdf8f5 ;
    text-decoration: none;
}
a:hover{
    color:#a8a39a;
}
body{
   font-family: 'Lora', serif;
   margin: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   background-color:#a8a39a;
}
main {
    padding: 50px;
}
.contact{
    margin-top: 20px;
    padding-bottom: 16.5%;
    padding-top: 3%;
}
.content{
    padding-left: 5%;
     color: #fdf8f5;
}
.experience{
    padding-top: 20%;
    padding-left: 5%;
    font-size: 15.2pt;
    font-family:'Red Hat Display', sans-serif; 
    color: #0C0C0C;
}
.first{
background-color: #BF6C44;
width: 350px;
height: fit-content;
 display: inline-block;
}
footer{
  padding-top:5px;
}
h3{
    font-family: 'Red Hat Display', sans-serif;
}
h4{
    font-family: 'Red Hat Display', sans-serif;
}
.second{
   width: 410px;
   height:fit-content;
   position:absolute;
   background: #fff;
   display: inline-block;
   


}



.img{
   border-style: none;
    width:250px;
    height:250px;
    border-radius: 100%;
   object-fit: cover;
   padding: 4%;
   margin: 10%;
   border-style: solid;
   border-width: 15px;
   border-color: #fdf8f5;
   
 
}
.name{
    font-family: 'Red Hat Display', sans-serif;
    padding: 5px;
    font-size: 28.3pt;
   
}




hr{
    border-style: none;
    width: 70%;
    color:#000;
    border-top-style: solid;
    margin-left: 0%;
   
   

}
.line{
    padding-left:0;
    margin-left: 0%;
}

ik {
    border-radius: 100%;
    font-size: 2px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    
    display:inline-block;
    padding:1px;
  }
  
  img {
    display:block;
  }
  .job{
    padding: 10%;
    padding-top: 0%;
    text-align: left;
    padding-bottom: 0%;
    color: #222;
  }
  .skills{
    padding-top: 5%;
    padding-left: 5%;
    font-size: 15.2pt;
    font-family:'Red Hat Display', sans-serif; 
    padding-bottom: 0%;
    color: #0C0C0C;
  }
  .list{
    padding: 5%;
    padding-top: 0%;
    text-align: left;
    padding-bottom: 5%;
    font-size: 11.1pt;
    color: #222;
  }
